package pages

import "github.com/semutdev/go-cms/views/layouts"

templ Home() {
	@layouts.Base("Go CMS") {
		<main>
			<h1>Go CMS</h1>
			<p>Setup awal Echo + Templ + HTMX berhasil.</p>
		</main>
	}
}